.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* background-color: blueviolet; */
  width: 70%;
  /* border-top: 2px solid rgb(0, 0, 0); */
  margin-top: 5px;
}

.form {
  flex: 1;
  display: flex;
}
.input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.button {
  display: none;
}
